<h1 class="card-header" align="center"> Funcionamiento de la pagina</h1>
<p align="center">El funcionamiento de nuestra pagina es muy intuitivo, principalemente se muestra un diagrama sobre de la ruta de la Glucolisis, 
    posteriormente se encuentra una barra en la cual podremos ingresar el numero de Glucosas a ejecutar, como se muestra a continuación.
</p>
<div class="mx-lg-4" >
    <img src="../../../../../assets/glucosas.png" class="center" style="width: 25vw; min-width: 800px;">
</div>
<p align="center">Antes de que se ejecute, se muestra como se ve a continuación, se inicializa en 0, pues aun no hemos ingresado nada.
</p>
<div class="mx-lg-4" >
    <img src="../../../../../assets/tabla1.png" class="center" style="width: 25vw; min-width: 800px;">
</div>
<p align="center">Una vez ingresado el número de moleculas, se calcularan el numero de reactivos presentes, para poder observar que tenemos presente antes de iniciar todo el proceso de la Glucolisis.
</p>
<div class="mx-lg-4" >
    <img src="../../../../../assets/antes.png" class="center" style="width: 25vw; min-width: 800px;">
</div>
<p align="center">Una vez ejecutado todo, se mostrara la tabla de resultados, con lo que se obtuvo despues de la glucolisis.
</p>
<div class="mx-lg-4" >
    <img src="../../../../../assets/tabla2.png" class="center" style="width: 25vw; min-width: 800px;">
</div>