<div class="container">
    <div class="row"> 
        <div class="col-md-4">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
            <div class="col-md-4">
                <img src="../../../../../assets/boss.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title" style="color:#000000">Luis Angel Leyva Castillo</h5>
                <p class="card-text" style="color:#000000">Estudiante de Matemáticas Aplicadas y Ciencias de la Computación, UNAM. Ayudante de Profesor. Comandante del Cheche Heaven.</p>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
            <div class="col-md-4">
                <img src="../../../../../assets/Isabel.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title" style="color:#000000">María Isabel Malagón Rodríguez </h5>
                <p class="card-text" style="color:#000000">Estudiante de Biología, UNAM. Tesista de licenciatura y estudiante de servicio social en el Centro de Ciencias Genómicas, UNAM.</p>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
            <div class="col-md-4">
                <img src="../../../../../assets/ivan.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title" style="color:#000000">Raúl Iván Pérez Bermúdez </h5>
                <p class="card-text" style="color:#000000">Estudiante de Biología, Facultad de Ciencias, UNAM. Tesista de licenciatura en el Instituto de Biotecnología, UNAM.</p>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
            <div class="col-md-4">
                <img src="../../../../../assets/quique.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title" style="color:#000000">Enrique Armando Pérez Espinosa </h5>
                <p class="card-text" style="color:#000000">Estudiante de Biología, Facultad de Ciencias, UNAM. Tesista de licenciatura en el Instituto de Investigaciones Biomédicas, UNAM.
                </p>
                </div>
            </div>
            </div>
        </div>

    </div>

    <div class="col-md-4">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
            <div class="col-md-4">
                <img src="../../../../../assets/yerik.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title" style="color:#000000">Yerik Santiago Popoca </h5>
                <p class="card-text" style="color:#000000">Estudiante de Biología, Facultad de Ciencias, UNAM. Tesista de licenciatura y estudiante de Servicio Social en el Instituto de Biotecnología, UNAM. Amante de los ajolotes y el queso. XDD </p>
                </div>
            </div>
            </div>
        </div>
    </div>
    </div>
</div>